Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

fix(cli): downgrade prettier-plugin-tailwindcss
  package.json
  pnpm-lock.yaml
Labels: none

fix(cli): update README to include Drizzle ORM
  cli/README.md
Labels: ğŸ“Œ area: cli

fix(changelog): add major changes for version 0.8.0 including drizzle integration
  cli/CHANGELOG.md
Labels: ğŸ“Œ area: cli

feat(docs): integrate version configuration and update hero component display
  docs/v2/src/app/(app)/page.tsx
  docs/v2/src/components/home/hero.tsx
  docs/v2/src/lib/utils.ts
Labels: ğŸ“š site

feat(docs): update CodeBlock usage examples in hero and usage components
  docs/v2/src/components/code-block.tsx
  docs/v2/src/components/home/hero.tsx
  docs/v2/src/components/home/usage.tsx
Labels: ğŸ“š site

feat(docs/v2): update files with drizzle info
  docs/v2/src/content/docs/(create-lx2-app)/faq.mdx
  docs/v2/src/content/docs/(create-lx2-app)/getting-started.mdx
  docs/v2/src/content/docs/(create-lx2-app)/index.mdx
  docs/v2/src/content/docs/(usage)/first-steps.mdx
  docs/v2/src/content/docs/(usage)/prisma.mdx
Labels: ğŸ“š site

feat:(docs/v2): add drizzle guide
  docs/v2/src/content/docs/(usage)/drizzle.mdx
  docs/v2/src/content/docs/(usage)/meta.json
Labels: ğŸ“š site

feat:(docs/v2): add `--turbopack` to dev and build commands
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“š site

feat: enhance FeatureCard component with improved hover effects and layout
  docs/v2/src/components/home/feature-card.tsx
Labels: ğŸ“š site

feat(cli): add Biome to cli
  cli/src/core/index.ts
  cli/src/installers/biome.ts
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/index.ts
  cli/src/utils/add-package-script.ts
  cli/template/packages/config/biome.jsonc
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

Discard changes to pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix: regenerate pnpm-lock.yaml after merge conflict
  pnpm-lock.yaml
Labels: none

feat(cli): re-add all drizzle related files to code base and update logo path on boilerplate pages.
  cli/src/core/index.ts
  cli/src/helpers/select-boilerplate.ts
  cli/src/installers/authjs.ts
  cli/src/installers/better-auth.ts
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/drizzle.ts
  cli/src/installers/env-vars.ts
  cli/src/installers/index.ts
  cli/src/utils/add-package-script.ts
  cli/template/packages/config/drizzle/with-mysql.ts
  cli/template/packages/config/drizzle/with-postgres.ts
  cli/template/packages/config/drizzle/with-sqlite.ts
  cli/template/packages/src/app/page/base.tsx
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
  cli/template/packages/src/server/auth/config/authjs-with-drizzle.ts
  cli/template/packages/src/server/auth/config/better-auth-with-prisma.ts
  cli/template/packages/src/server/db/index-drizzle/with-mysql.ts
  cli/template/packages/src/server/db/index-drizzle/with-postgres.ts
  cli/template/packages/src/server/db/index-drizzle/with-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/base-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/base-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/base-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(changeset): create changeset
  .changeset/three-times-share.md
Labels: none

fix: replace npm install with pnpm install in changeset version script
  .github/changeset-version.js
Labels: ğŸ“Œ area: ci

chore(changeset): add changeset for biome
  .changeset/blue-games-push.md
Labels: none

fix(docs/v2): remove unnecessary margin from list components
  docs/v2/src/components/mdx/list.tsx
Labels: ğŸ“š site

feat(docs/v2): update roadmap with new packages and planned components
  docs/v2/src/content/docs/(create-lx2-app)/roadmap.mdx
Labels: ğŸ“š site

feat(docs/v2): update marketing page content and styling in CTA, Features, Hero, Usage, and config components
  docs/v2/src/components/home/cta.tsx
  docs/v2/src/components/home/features.tsx
  docs/v2/src/components/home/hero.tsx
  docs/v2/src/components/home/usage.tsx
  docs/v2/src/lib/config.ts
Labels: ğŸ“š site

feat(cli): update backend option help text to include all possible frameworks
  cli/src/core/index.ts
Labels: ğŸ“Œ area: cli

chore(changeset): add changeset
  .changeset/every-rings-jam.md
Labels: none

fix(docs/v2): update introduction content
  docs/v2/src/content/docs/(create-lx2-app)/index.mdx
Labels: ğŸ“š site

fix(docs/v2): correct pagePath formatting in editUrl construction
  docs/v2/src/components/docs/toc.tsx
Labels: ğŸ“š site

fix(docs/v2): move warning about CI flag necessity for other flags above flags table
  docs/v2/src/content/docs/(create-lx2-app)/getting-started.mdx
Labels: ğŸ“š site

fix(docs/v2): expand the "Why?" section with detailed motivations and technology choices
  docs/v2/src/content/docs/(create-lx2-app)/why.mdx
Labels: ğŸ“š site

fix(docs/v2): update site description
  docs/v2/src/lib/config.ts
  package.json
Labels: ğŸ“š site

feat(cli): Update template pages
  cli/template/packages/src/app/page/base.tsx
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(changeset): add changeset
  .changeset/fifty-years-bet.md
Labels: none

chore(CI): remove 💯 emoji from pull request template
  .github/pull_request_template.md
Labels: ğŸ“Œ area: ci

fix(cli): update template app build script to use turbopack
  cli/template/base/package.json
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(changeset): add changeset
  .changeset/fluffy-moons-brush.md
Labels: none

fix(cli): update README and package description
  cli/README.md
  cli/package.json
Labels: ğŸ“Œ area: cli

feat(changeset): add changeset
  .changeset/fruity-cooks-attend.md
Labels: none

fix(docs/v2): Fix grammatical error in TypeScript section
  docs/v2/src/content/docs/(create-lx2-app)/why.mdx
Labels: ğŸ“š site

fix(docs/v2): Fix formatting
  docs/v2/src/content/docs/(create-lx2-app)/why.mdx
Labels: ğŸ“š site

fix(docs/v2): fix footer links description and responsiveness
  docs/v2/src/components/layout/footer.tsx
Labels: ğŸ“š site

fix(docs/v2): add target="_blank" to GitHub link and adjust text balance class
  docs/v2/src/components/home/cta.tsx
Labels: ğŸ“š site

fix(docs/v2): capitalize "To" in hero heading for consistency
  docs/v2/src/components/home/hero.tsx
Labels: ğŸ“š site

fix(cli): correclty format deployment note callout
  cli/template/base/README.md
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(changeset): add changeset
  .changeset/tender-ideas-lose.md
Labels: none
