Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

fix(cli): change import of NextAuthConfig to type import
  cli/template/packages/src/server/auth/config/authjs-with-drizzle.ts
  cli/template/packages/src/server/auth/config/authjs-with-prisma.ts
  cli/template/packages/src/server/auth/config/authjs.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): remove prisma from compatibility matrix for trpc
  cli/src/constants.ts
  cli/template/packages/src/server/api/routers/post/with-auth-prisma.ts
  cli/template/packages/src/server/api/routers/post/with-prisma.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(api): change create and getLatest procedures to protected
  cli/template/packages/src/server/api/routers/post/with-auth-drizzle.ts
  cli/template/packages/src/server/api/routers/post/with-auth.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

refactor(trpc): remove TODO comments for completed tRPC files
  cli/src/installers/trpc.ts
Labels: ğŸ“Œ area: cli

refactor(cli): rename NEXT_PUBLIC_BETTER_AUTH_URL to NEXT_PUBLIC_URL for consistency
  cli/src/installers/env-vars.ts
  cli/template/packages/src/env/with-better-auth-db.js
  cli/template/packages/src/env/with-better-auth.js
  cli/template/packages/src/env/with-trpc-better-auth-db.js
  cli/template/packages/src/env/with-trpc-better-auth.js
  cli/template/packages/src/lib/auth/better-auth-client.ts
  cli/template/packages/src/server/auth/better-auth-with-drizzle.ts
  cli/template/packages/src/server/auth/better-auth-with-prisma.ts
  cli/template/packages/src/server/auth/better-auth.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): adjust formatting of compatibility warning
  cli/src/utils/render-compatibility-warning.ts
Labels: ğŸ“Œ area: cli

refactor(cli): update AdapterAccountType import to use `import type`
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-postgresql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

Checkpoint from VS Code for coding agent session
  cli/src/core/index.ts
Labels: ğŸ“Œ area: cli

feat(cli): implement package builder function
  .changeset/lucky-zebras-peel.md
  cli/src/core/index.ts
  cli/src/utils/build-packages-from-config.ts
Labels: ğŸ“Œ area: cli

fix(cli): update biome config
  .changeset/shy-doors-cheer.md
  cli/template/packages/config/biome.jsonc
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): update tailwind className and add titles to `<svg>` tags
  cli/template/packages/src/app/page/base.tsx
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
  cli/template/packages/src/app/page/with-trpc.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): simplify logging for next steps and improve package checks
  .changeset/tasty-buttons-marry.md
  cli/src/helpers/log-next-steps.ts
Labels: ğŸ“Œ area: cli

fix(docs): fix editUrl to use cleaned parentId
  docs/v2/src/components/docs/toc.tsx
Labels: ğŸ“š site

fix(cli): update tsconfig
  .changeset/dull-years-share.md
  cli/template/packages/config/tsconfig/base.json
  cli/template/packages/config/tsconfig/with-payload.json
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add `withPayload` option to `installDependencies` and implement Next.js installer
  .changeset/eleven-phones-retire.md
  cli/src/helpers/install-dependencies.ts
  cli/src/index.ts
  cli/src/installers/index.ts
  cli/src/installers/nextjs.ts
  cli/template/packages/config/next/base.ts
  cli/template/packages/config/next/with-payload.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): update install arguments for package managers
  cli/src/helpers/install-dependencies.ts
Labels: ğŸ“Œ area: cli

feat(cli): explicitly add 'sharp' dependency to payloadCMSInstaller
  cli/src/installers/payloadcms.ts
Labels: ğŸ“Œ area: cli

feat(cli): add project formatter
  .changeset/fuzzy-regions-admire.md
  cli/src/helpers/format-project.ts
  cli/src/index.ts
Labels: ğŸ“Œ area: cli

fix(cli): remove unused import for linters in index.ts
  cli/src/index.ts
Labels: ğŸ“Œ area: cli

fix(cli): update compatibility matrix
  .changeset/four-suits-march.md
  cli/src/constants.ts
Labels: ğŸ“Œ area: cli

fix(cli): update ESLint config
  .changeset/tasty-waves-buy.md
  cli/template/packages/config/eslint.config.mjs
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): duplicate NEXT_PUBLIC_URL in projects scaffolding with TRPC and Better Auth
  .changeset/free-places-taste.md
  cli/src/installers/env-vars.ts
Labels: ğŸ“Œ area: cli

fix: update repository links from SlickYeet to lx2dev in documentation and codebase
  .changeset/config.json
  .github/pull_request_template.md
  .github/workflows/prerelease-comment.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  cli/CHANGELOG.md
  cli/README.md
  cli/package.json
  cli/template/base/README.md
  cli/template/packages/src/app/page/base.tsx
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
  cli/template/packages/src/app/page/with-trpc.tsx
  docs/v2/README.md
  docs/v2/src/lib/config.ts
  package.json
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

fix: add permissions for write access to contents and pull requests in release workflow
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

fix: add permissions for pull requests, issues, and actions in prerelease comment workflow
  .github/workflows/prerelease-comment.yml
Labels: ğŸ“Œ area: ci

Update scroll-to-top.tsx
  docs/v2/src/components/scroll-to-top.tsx
Labels: ğŸ“š site

Update scroll-to-top.tsx
  docs/v2/src/components/scroll-to-top.tsx
Labels: ğŸ“š site

feat(docs): update shadcn button
  docs/v2/package.json
  docs/v2/src/components/ui/button.tsx
  pnpm-lock.yaml
Labels: ğŸ“š site

fix(docs): update ScrollToTop component
  docs/v2/src/components/scroll-to-top.tsx
Labels: ğŸ“š site

feat: moved ScrollToTop component to components/docs
  docs/v2/src/components/docs/scroll-to-top.tsx
Labels: ğŸ“š site

fix(docs): adjust margin utility application in steps component
  docs/v2/src/styles/globals.css
Labels: ğŸ“š site

fix(docs): update import path for ScrollToTop component in layout
  docs/v2/src/app/(app)/docs/layout.tsx
Labels: ğŸ“š site

fix(docs): correct padding utility application in MobileNav button
  docs/v2/src/components/layout/mobile-nav.tsx
Labels: ğŸ“š site

fix(docs): adjust header height for improved responsiveness
  docs/v2/src/components/layout/header.tsx
Labels: ğŸ“š site

fix(docs): update useIsMobile hook to accept a breakpoint parameter
  docs/v2/src/components/search.tsx
  docs/v2/src/hooks/use-mobile.ts
Labels: ğŸ“š site

fix(docs): simplify Search component layout in Header
  docs/v2/src/components/layout/header.tsx
Labels: ğŸ“š site

fix(docs): overscroll behavior
  docs/v2/src/app/layout.tsx
  docs/v2/src/styles/globals.css
Labels: ğŸ“š site

fix(docs): update sidebar width for improved layout consistency
  docs/v2/src/components/docs/sidebar.tsx
  docs/v2/src/components/ui/sidebar.tsx
Labels: ğŸ“š site

fix(docs): update layout to use flex-1 for consistent child sizing
  docs/v2/src/app/(app)/docs/[[...slug]]/page.tsx
  docs/v2/src/app/(app)/docs/layout.tsx
  docs/v2/src/components/docs/copy-page.tsx
Labels: ğŸ“š site

fix(docs): export SIDEBAR_WIDTH constant for external usage
  docs/v2/src/components/ui/sidebar.tsx
Labels: ğŸ“š site

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]
