Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

fix(docs): update frontmatter schema definition to use z.object for validation
  docs/v2/source.config.ts
Labels: ğŸ“š site

feat(docs/v2): update demo.cast
  docs/v2/public/demo.cast
Labels: ğŸ“š site

feat(cli): consolidate formatter and linter options into eslint/prettier; remove redundant prettier installer
  cli/src/core/index.ts
  cli/src/installers/eslint.ts
  cli/src/installers/index.ts
  cli/src/installers/prettier.ts
Labels: ğŸ“Œ area: cli

fix(cli): clarify linter option description to include formatter
  cli/src/core/index.ts
Labels: ğŸ“Œ area: cli

feat(changeset): add changeset
  .changeset/fruity-beds-obey.md
Labels: none

feat(cli): replace template next.config.mjs and env.js with .ts versions
  cli/src/installers/env-vars.ts
  cli/template/base/next.config.ts
  cli/template/base/src/env.ts
  cli/template/packages/config/tsconfig/base.json
  cli/template/packages/config/tsconfig/with-payload.json
  docs/v2/src/content/docs/(usage)/auth.js.mdx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site

feat(changeset): add changeset
  .changeset/full-cows-sit.md
Labels: none

fix(ci): use execSync for synchronous execution of versioning commands
  .github/changeset-version.js
Labels: ğŸ“Œ area: ci

chore(changelog): update CHANGELOG for version 0.7.0 to 0.7.2
  cli/CHANGELOG.md
Labels: ğŸ“Œ area: cli

feat(cli): add drizzle dependencies
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

feat(cli): change postgresql database provider to just postgres
  cli/src/core/index.ts
  cli/src/helpers/log-next-steps.ts
  cli/src/installers/better-auth.ts
  cli/src/installers/env-vars.ts
  cli/src/installers/index.ts
  cli/src/installers/payloadcms.ts
  cli/src/installers/prisma.ts
Labels: ğŸ“Œ area: cli

feat(cli): add addPackageScript utility
  cli/src/utils/add-package-script.ts
Labels: ğŸ“Œ area: cli

feat(cli): add drizzle and drizzle postgres files
  cli/src/core/index.ts
  cli/src/installers/drizzle.ts
  cli/src/installers/env-vars.ts
  cli/src/installers/index.ts
  cli/template/packages/config/drizzle/with-postgres.ts
  cli/template/packages/src/server/db/index-drizzle/with-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/base-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add drizzle sqlite files
  cli/template/packages/config/drizzle/with-sqlite.ts
  cli/template/packages/src/server/db/index-drizzle/with-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/base-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): add comment for globalForDb in drizzle postgres db index
  cli/template/packages/src/server/db/index-drizzle/with-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): add another TODO to prisma installer
  cli/src/installers/prisma.ts
Labels: ğŸ“Œ area: cli

fix(cli): change drizzle sqlite table to posts instead of users
  cli/template/packages/src/server/db/schema-drizzle/base-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add drizzle mysql files
  cli/template/packages/config/drizzle/with-mysql.ts
  cli/template/packages/src/server/db/index-drizzle/with-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/base-mysql.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli); add optional databaseProvider to SelectBoilerplateOptions for selectPageFile to select drizzle pages
  cli/src/helpers/create-project.ts
  cli/src/helpers/select-boilerplate.ts
Labels: ğŸ“Œ area: cli

feat(cli): add drizzle sqlite page
  cli/template/packages/src/app/page/with-drizzle-sqlite.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): undo selectPageFile changes and rename drizzle page to just with-drizzle
  cli/src/helpers/create-project.ts
  cli/src/helpers/select-boilerplate.ts
  cli/template/packages/src/app/page/with-drizzle.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): update template page logo image URLs to point to the v1 directory
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(changeset): add changeset
  .changeset/shy-teams-carry.md
Labels: none

feat(cli): add compatibility for drizzle and better auth
  cli/src/installers/better-auth.ts
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/server/auth/config/better-auth-with-drizzle.ts
  cli/template/packages/src/server/db/schema-drizzle/base-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/base-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/base-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): ensure baseURL is correctly set in betterAuth configuration
  cli/template/packages/src/app/api/auth/[...betterauth]/route.ts
  cli/template/packages/src/server/auth/config/better-auth-with-prisma.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add compatibility for drizzle and better auth using postgres
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): update better auth postgres table name prefix in createTable
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add compatibility for drizzle and better auth using mysql
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-mysql.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add compatibility for drizzle and authjs using mysql
  cli/package.json
  cli/src/installers/authjs.ts
  cli/src/installers/dependency-version-map.ts
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/server/auth/config/authjs-with-drizzle.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-mysql.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): ensure consistent timestamp configuration across mysql tables
  cli/template/packages/src/server/db/schema-drizzle/base-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-mysql.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): personalize homepage greeting based on user session
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add compatibility for drizzle and authjs using sqlite
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add compatibility for drizzle and authjs using postgres
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): correct import name for post table in drizzle pages
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

feat(cli): add drizzle auth pages to `selectPageFile`
  cli/src/helpers/select-boilerplate.ts
Labels: ğŸ“Œ area: cli

fix(cli): update postgres provider name to 'pg' in better-auth installer
  cli/src/installers/better-auth.ts
Labels: ğŸ“Œ area: cli

fix(cli): change all drizzle schema table names to singular and adjust schemas and pages for consistency
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/server/auth/config/authjs-with-drizzle.ts
  cli/template/packages/src/server/db/schema-drizzle/base-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/base-postgres.ts
  cli/template/packages/src/server/db/schema-drizzle/base-sqlite.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-mysql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-postgres.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): remove globals.css import from payload page
  cli/template/packages/src/app/page/with-payload.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): prompt user to sign in to create posts on orm pages with auth
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): release package beta version 0.8.0 and add prettier-plugin-tailwindcss
  .changeset/shy-teams-carry.md
  cli/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli
