Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

fix(docs/v2): Adjust styles in docs `breadcrumb.tsx` and site `header.tsx`
  docs/v2/src/components/docs/breadcrumb.tsx
  docs/v2/src/components/layout/header.tsx
Labels: ğŸ“š site

fix(docs/v2): format shadcn components
  docs/v2/src/components/ui/input-group.tsx
  docs/v2/src/components/ui/kbd.tsx
  docs/v2/src/components/ui/textarea.tsx
Labels: ğŸ“š site

fix(core): add 'deprecated' directory to .prettierignore
  .prettierignore
Labels: none

fix(docs/v1): update README.md
  deprecated/v1/README.md
Labels: none

fix(docs/v1): update README.md
  deprecated/v1/README.md
Labels: none

fix(docs/v1): update README.md
  deprecated/v1/README.md
Labels: none

chore(core): attempting to fix v1 vercel build failing
  .vscode/settings.json
  deprecated/v1/package.json
  pnpm-lock.yaml
Labels: none

feat(docs/v2): revisit fumadocs types
  docs/v2/package.json
  docs/v2/src/app/(app)/docs/[[...slug]]/page.tsx
  docs/v2/src/components/docs/header.tsx
  docs/v2/src/lib/source.ts
  pnpm-lock.yaml
Labels: ğŸ“š site

fix(root): correct email and URL for author and maintainers
  package.json
Labels: none

feat(docs/v2): add redirects and rewrites in next.config.ts
  docs/v2/next.config.ts
Labels: ğŸ“š site

feat(docs/v2): add ButtonGroup component
  docs/v2/src/components/ui/button-group.tsx
Labels: ğŸ“š site

feat(docs/v2): add useCopyToClipboard hook
  docs/v2/src/hooks/use-copy-to-clipboard.ts
Labels: ğŸ“š site

feat(docs/v2): implement `copy-page` component
  docs/v2/src/app/(app)/docs/[[...slug]]/page.tsx
  docs/v2/src/components/docs/copy-page.tsx
  docs/v2/src/components/docs/header.tsx
Labels: ğŸ“š site

feat(docs/v2): add llm route to process markdown pages
  docs/v2/src/app/(app)/llm/[[...slug]]/route.ts
Labels: ğŸ“š site

refactor(docs/v2): improve layout and responsiveness of header component
  docs/v2/src/components/docs/copy-page.tsx
  docs/v2/src/components/docs/header.tsx
Labels: ğŸ“š site

feat(docs/v2): update t3.chat SVG icon in copy-page component
  docs/v2/src/components/docs/copy-page.tsx
Labels: ğŸ“š site

feat(docs/v2): add v0 option to `copy-page` component and improve layout
  docs/v2/src/components/docs/copy-page.tsx
Labels: ğŸ“š site

fix(docs/v2): update label for v0 link in copy-page component
  docs/v2/src/components/docs/copy-page.tsx
Labels: ğŸ“š site

refactor(docs/v2): update getNpmVersion function to accept a boolean for beta releases and adjust related components
  docs/v2/src/app/(app)/page.tsx
  docs/v2/src/components/home/hero.tsx
  docs/v2/src/lib/utils.ts
Labels: ğŸ“š site

refactor(docs/v2): update getNpmVersion calls in Footer to use boolean flags for version type
  docs/v2/src/components/layout/footer.tsx
Labels: ğŸ“š site

fix(docs/v2): update button height in Hero component for consistency
  docs/v2/src/components/home/hero.tsx
Labels: ğŸ“š site

fix(docs/v2): change search item tags to root
  docs/v2/src/components/search.tsx
Labels: ğŸ“š site

feat(docs/v2): add changelog page and update meta.json to include it
  docs/v2/src/content/docs/(create-lx2-app)/changelog.mdx
  docs/v2/src/content/docs/(create-lx2-app)/meta.json
Labels: ğŸ“š site

fix(docs/v2): update docs toc for changelog
  docs/v2/src/app/(app)/docs/[[...slug]]/page.tsx
  docs/v2/src/components/docs/toc.tsx
Labels: ğŸ“š site

refactor(cli): update import statement for PackageJson and remove unnecessary comment in render-title
  cli/src/index.ts
  cli/src/utils/render-title.ts
Labels: ğŸ“Œ area: cli

fix(cli): undo last
  cli/src/index.ts
Labels: ğŸ“Œ area: cli

chore(changeset): add changeset
  .changeset/twenty-rockets-joke.md
Labels: none

fix(cli): remove `--turbopack` from dev and build scripts
  .changeset/dull-toys-play.md
  cli/template/base/package.json
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): replace `pnpm dlx` with `npx` in auth scripts
  .changeset/vast-parrots-boil.md
  cli/src/installers/better-auth.ts
Labels: ğŸ“Œ area: cli

fix(env): update `env.ts` to use zod v4 `z.url()`
  .changeset/wise-tigers-dream.md
  cli/template/packages/src/env/with-authjs-db.js
  cli/template/packages/src/env/with-better-auth-db.js
  cli/template/packages/src/env/with-better-auth.js
  cli/template/packages/src/env/with-db.js
  cli/template/packages/src/env/with-payload.js
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(docs): update package versions and improve path resolution in tsconfig
  docs/v2/package.json
  docs/v2/source.config.ts
  docs/v2/src/lib/source.ts
  docs/v2/tsconfig.json
Labels: ğŸ“š site

fix(root): add typescript SDK path to settings
  .vscode/settings.json
Labels: none

feat(root): update package deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(docs): update deps
  docs/v2/package.json
Labels: ğŸ“š site

chore(cli): update deps in `package.json` and `dependency-version-map.ts`
  .changeset/brave-cougars-love.md
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

fix(cli): correct install condition to reflect intended behavior
  .changeset/ready-phones-cheat.md
  cli/src/core/index.ts
  cli/src/helpers/log-next-steps.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

chore: update package deps
  .changeset/slick-islands-camp.md
  cli/package.json
  docs/v2/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“š site

fix(ci): change version increment in beta versioning script
  .github/version-script-beta.js
Labels: ğŸ“Œ area: ci

feat(cli): add server-only dependency
  cli/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

feat(cli): add base tRPC
  cli/src/core/index.ts
  cli/src/helpers/select-boilerplate.ts
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/env-vars.ts
  cli/src/installers/index.ts
  cli/src/installers/trpc.ts
  cli/template/packages/src/app/api/trpc/[trpc]/route.ts
  cli/template/packages/src/app/layout/with-trpc.tsx
  cli/template/packages/src/app/page/with-trpc.tsx
  cli/template/packages/src/components/greeting.tsx
  cli/template/packages/src/env/with-trpc.js
  cli/template/packages/src/lib/api/client.tsx
  cli/template/packages/src/lib/api/query-client.ts
  cli/template/packages/src/lib/api/server.ts
  cli/template/packages/src/lib/utils.ts
  cli/template/packages/src/server/api/init/base.ts
  cli/template/packages/src/server/api/root.ts
  cli/template/packages/src/server/api/routers/hello-world/base.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app
