Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

feat(cli): add warning renderer for compatibility issues
  cli/src/constants.ts
  cli/src/index.ts
  cli/src/utils/render-compatibility-warning.ts
Labels: ğŸ“Œ area: cli

feat(cli): format files and add changeset
  .changeset/nine-showers-beg.md
  cli/template/packages/src/lib/api/server.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(ci): undo change version increment in beta versioning script
  .github/version-script-beta.js
Labels: ğŸ“Œ area: ci

fix: update Discord link to new hub URL
  .github/ISSUE_TEMPLATE/config.yml
  cli/template/packages/src/app/page/base.tsx
  cli/template/packages/src/app/page/with-authjs-drizzle.tsx
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-authjs.tsx
  cli/template/packages/src/app/page/with-better-auth-drizzle.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth.tsx
  cli/template/packages/src/app/page/with-drizzle.tsx
  cli/template/packages/src/app/page/with-payload.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
  docs/v2/src/content/docs/(create-lx2-app)/faq.mdx
  docs/v2/src/lib/config.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

feat(changeset): add changeset
  .changeset/red-parks-float.md
Labels: none

feat(docs): add override version support and improve package manager handling
  docs/v2/src/app/(app)/page.tsx
  docs/v2/src/components/code-block.tsx
  docs/v2/src/components/home/hero.tsx
  docs/v2/src/hooks/use-config.ts
  docs/v2/src/lib/utils.ts
Labels: ğŸ“š site

feat(docs): update command to use override version if available
  docs/v2/src/components/home/hero.tsx
Labels: ğŸ“š site

feat: version packages
  .changeset/dirty-cars-matter.md
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“š site

feat(docs): run formatter
  docs/v2/src/app/og/route.tsx
Labels: ğŸ“š site

fix(cli): correct dependency checks for better-sqlite3 based on database usage
  .changeset/ten-zoos-warn.md
  cli/src/installers/better-auth.ts
  docs/v2/src/app/og/route.tsx
Labels: ğŸ“Œ area: cli, ğŸ“š site

fix(security): bump react
  .changeset/spicy-turtles-train.md
  .vscode/settings.json
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  cli/template/base/package.json
  docs/v2/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site

fix: version packages again
  .changeset/loud-dogs-own.md
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“š site

feat: add default formatter settings for various file types
  .vscode/settings.json
Labels: none

chore: update package dependencies and versions
  .changeset/good-waves-juggle.md
  cli/package.json
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“š site

fix: update default flag logic in runCli function
  cli/src/core/index.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

chore(changeset): add changeset
  .changeset/cute-yaks-ring.md
Labels: none

fix: remove duplicate dependencies
  cli/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

feat: add trpc + drizzle compatibility
  cli/src/constants.ts
  cli/src/installers/env-vars.ts
  cli/src/installers/trpc.ts
  cli/template/packages/src/app/page/with-trpc.tsx
  cli/template/packages/src/components/greeting.tsx
  cli/template/packages/src/env/with-trpc-db.js
  cli/template/packages/src/server/api/init/with-db.ts
  cli/template/packages/src/server/api/root.ts
  cli/template/packages/src/server/api/routers/hello-world/base.ts
  cli/template/packages/src/server/api/routers/post/base.ts
  cli/template/packages/src/server/api/routers/post/with-drizzle.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix: reorder server-only
  cli/package.json
Labels: ğŸ“Œ area: cli

fix: mark completed tRPC files
  cli/src/installers/trpc.ts
Labels: ğŸ“Œ area: cli

fix: update TODO comments for tRPC files
  cli/src/installers/trpc.ts
Labels: ğŸ“Œ area: cli

fix: update comment to clarify tRPC package restrictions
  cli/src/core/index.ts
Labels: ğŸ“Œ area: cli

fix(cli): enhance tRPC compatibility checks in CLI
  cli/src/core/index.ts
Labels: ğŸ“Œ area: cli

feat(cli): add trpc + auth compatibility
  cli/src/constants.ts
  cli/src/helpers/select-boilerplate.ts
  cli/src/installers/env-vars.ts
  cli/template/packages/src/app/page/with-trpc.tsx
  cli/template/packages/src/env/with-trpc-authjs-db.js
  cli/template/packages/src/env/with-trpc-authjs.js
  cli/template/packages/src/env/with-trpc-better-auth-db.js
  cli/template/packages/src/env/with-trpc-better-auth.js
  cli/template/packages/src/server/api/init/with-authjs-db.ts
  cli/template/packages/src/server/api/init/with-authjs.ts
  cli/template/packages/src/server/api/init/with-betterauth-db.ts
  cli/template/packages/src/server/api/init/with-betterauth.ts
  cli/template/packages/src/server/api/routers/post/with-auth-drizzle.ts
  cli/template/packages/src/server/api/routers/post/with-auth.ts
  cli/template/packages/src/server/auth/better-auth.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix: change import to type for NextAuthConfig in auth configuration files
  cli/template/packages/src/server/auth/config/authjs-with-drizzle.ts
  cli/template/packages/src/server/auth/config/authjs-with-prisma.ts
  cli/template/packages/src/server/auth/config/authjs.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix: update TRPC TODO checklist
  cli/src/installers/trpc.ts
Labels: ğŸ“Œ area: cli

chore(changeset): update changeset
  .changeset/nine-showers-beg.md
Labels: none

chore(cli): add Prisma adapters for better SQLite3, LibSQL, MariaDB, and PostgreSQL
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

chore(cli): add Prisma config file
  cli/template/packages/config/prisma.config.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): update datasource configuration to include output path for generated client
  cli/template/packages/prisma/schema/base.prisma
  cli/template/packages/prisma/schema/with-authjs.prisma
  cli/template/packages/prisma/schema/with-better-auth.prisma
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): add Prisma adapter files for MySQL, PostgreSQL, SQLite (Bun and Better SQLite3)
  cli/template/packages/src/server/db/prisma/with-mysql.ts
  cli/template/packages/src/server/db/prisma/with-postgresql.ts
  cli/template/packages/src/server/db/prisma/with-sqlite-bun.ts
  cli/template/packages/src/server/db/prisma/with-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): add src/generated to .gitignore
  cli/template/base/_gitignore
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): update prismaInstaller to include package manager handling and config file setup
  cli/src/installers/prisma.ts
Labels: ğŸ“Œ area: cli

chore(changeset): add changeset
  .changeset/wet-houses-begin.md
Labels: none

chore(cli): update PrismaClient import path in database adapter files
  cli/template/packages/src/server/db/prisma/with-mysql.ts
  cli/template/packages/src/server/db/prisma/with-postgresql.ts
  cli/template/packages/src/server/db/prisma/with-sqlite-bun.ts
  cli/template/packages/src/server/db/prisma/with-sqlite.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(cli): add dynamic export to prisma pages
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): undo last
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli) add drivers for prisma adapters
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/prisma.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

fix(cli): undo prisma drivers
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/prisma.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

fix(cli): add @prisma/client-runtime-utils dependency and update related files
  cli/package.json
  cli/src/installers/dependency-version-map.ts
  cli/src/installers/prisma.ts
  cli/template/packages/src/app/page/with-authjs-prisma.tsx
  cli/template/packages/src/app/page/with-better-auth-prisma.tsx
  cli/template/packages/src/app/page/with-prisma.tsx
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]
