Repository SlickYeet/create-lx2-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site, ğŸ“Œ area: ci

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: lx2-app":
  - any: ["cli/template/**/*"]

"ğŸ“š site":
  - any: ["docs/**/*"]
  - any: ["**/*.md", "**/*.mdx"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

feat: add CODEOWNERS file and update issue template with community support link
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
Labels: ğŸ“Œ area: ci

fix(CI): update artifact path for npm package upload in prerelease workflow
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

fix: update prerelease comment workflow
  .github/workflows/ci.yml
  .github/workflows/prerelease-comment.yml
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

fix: update import paths for betterAuth, payloadCMS, and typescript installers
  cli/src/installers/index.ts
Labels: ğŸ“Œ area: cli

feat(cli): move better-auth and better-auth-with-prisma out of auth/config dir
  cli/src/installers/better-auth.ts
  cli/template/packages/src/server/auth/better-auth-with-prisma.ts
  cli/template/packages/src/server/auth/better-auth.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(changeset): add changeset
  .changeset/busy-coats-relate.md
Labels: none

fix(cli): append all drizzle postgres files with sql
  cli/src/installers/drizzle.ts
  cli/template/packages/config/drizzle/with-postgresql.ts
  cli/template/packages/src/server/db/index-drizzle/with-postgresql.ts
  cli/template/packages/src/server/db/schema-drizzle/base-postgresql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-authjs-postgresql.ts
  cli/template/packages/src/server/db/schema-drizzle/with-better-auth-postgresql.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): change postgresql provider name to 'pg' in betterAuth installer
  cli/src/installers/better-auth.ts
Labels: ğŸ“Œ area: cli

feat(cli): add missing betterAuth with drizzle template
  cli/template/packages/src/server/auth/better-auth-with-drizzle.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

chore(changeset): add changeset
  .changeset/angry-melons-stick.md
Labels: none

fix(cli): replace PrismaClient instance with db in betterAuth configuration
  cli/template/packages/src/server/auth/better-auth-with-prisma.ts
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(cli): update postgresql provider handling in betterAuth installer
  cli/src/installers/better-auth.ts
Labels: ğŸ“Œ area: cli

chore(changeset): add changeset
  .changeset/fine-pumas-tickle.md
Labels: none

chore(changeset): add changeset
  .changeset/icy-mangos-call.md
Labels: none

fix(cli): move global styles and update layout imports
  .changeset/moody-banks-visit.md
  cli/src/helpers/select-boilerplate.ts
  cli/template/packages/src/app/layout/base.tsx
  cli/template/packages/src/styles/base.css
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app

fix(CI): improve artifact handling and logging in prerelease comment workflow
  .github/workflows/prerelease-comment.yml
Labels: ğŸ“Œ area: ci

fix(CLI): update eslint linting scripts in template package.json
  .changeset/slow-mirrors-lead.md
  cli/src/installers/eslint.ts
Labels: ğŸ“Œ area: cli

feat(CLI): add package scripts for better-auth, eslint, payloadCMS, and prisma installers
  .changeset/breezy-rabbits-matter.md
  cli/src/installers/better-auth.ts
  cli/src/installers/eslint.ts
  cli/src/installers/payloadcms.ts
  cli/src/installers/prisma.ts
Labels: ğŸ“Œ area: cli

feat(core): Update package deps
  cli/package.json
  cli/template/base/package.json
  docs/v1/package.json
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site

feat(docs/v1): Update config files
  docs/v1/eslint.config.mjs
  docs/v1/postcss.config.mjs
  docs/v1/tsconfig.json
Labels: ğŸ“š site

feat(docs/v2): Update config files
  docs/v2/eslint.config.mjs
  docs/v2/postcss.config.mjs
  docs/v2/tsconfig.json
Labels: ğŸ“š site

feat(docs/v2): Update fumadocs imports
  docs/v2/src/app/(app)/docs/[[...slug]]/page.tsx
  docs/v2/src/components/docs/breadcrumb.tsx
  docs/v2/src/components/docs/header.tsx
  docs/v2/src/components/docs/toc.tsx
Labels: ğŸ“š site

chore(changeset): add changeset
  .changeset/wide-showers-cheer.md
Labels: none

feat: enable verbatimModuleSyntax in all TypeScript configs
  cli/template/packages/config/tsconfig/base.json
  cli/template/packages/config/tsconfig/with-payload.json
  docs/v1/tsconfig.json
  docs/v2/tsconfig.json
  tsconfig.json
Labels: ğŸ“Œ area: cli, ğŸ“Œ area: lx2-app, ğŸ“š site

fix: update lint script to use eslint instead of next lint
  docs/v1/package.json
  docs/v2/package.json
Labels: ğŸ“š site

fix(CLI): enfore verbatimModuleSyntax in cli installers
  cli/src/installers/env-vars.ts
  cli/src/installers/eslint.ts
  cli/src/installers/payloadcms.ts
  cli/src/installers/typescript.ts
Labels: ğŸ“Œ area: cli

feat(docs): enforce verbatimModuleSyntax in both docs v1 and v2
  docs/v1/src/components/discord-link.tsx
  docs/v1/src/components/feature-card.tsx
  docs/v1/src/components/star-on-github.tsx
  docs/v1/src/constants/index.ts
  docs/v1/src/mdx-components.tsx
  docs/v2/src/components/home/feature-card.tsx
  docs/v2/src/components/layout/mobile-nav.tsx
  docs/v2/src/components/ui/sidebar.tsx
Labels: ğŸ“š site

fix(docs/v1): fix linting errors
  docs/v1/src/components/docs/search.tsx
  docs/v1/src/components/docs/sidebar.tsx
  docs/v1/src/components/docs/toc.tsx
  docs/v1/src/components/header.tsx
  docs/v1/src/components/mdx/tabs.tsx
  docs/v1/src/components/provider.tsx
  docs/v1/src/hooks/use-mobile.tsx
Labels: ğŸ“š site

fix(docs/v2): Optimize some react hooks
  docs/v2/src/components/mdx/tabs.tsx
  docs/v2/src/components/ui/sidebar.tsx
  docs/v2/src/hooks/use-is-mac.ts
  docs/v2/src/hooks/use-mobile.ts
Labels: ğŸ“š site

chore(CLI): verson packages
  cli/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: cli

fix(CLI): externalize `type-fest` for verbatimModuleSyntax
  cli/tsup.config.ts
Labels: ğŸ“Œ area: cli

chore(changeset): add changesets
  .changeset/curly-hornets-behave.md
  .changeset/floppy-queens-fail.md
  .changeset/fluffy-regions-cry.md
  .changeset/yummy-memes-smile.md
Labels: none

fix(docs/v2): add .source to ESLint ignore pattern
  docs/v2/eslint.config.mjs
Labels: ğŸ“š site

feat(core): add extensions recommendations file
  .vscode/extensions.json
Labels: none

fix: update import statements for PackageJson type usage
  .changeset/shy-comics-love.md
  cli/src/index.ts
  cli/src/utils/add-package-dependency.ts
  cli/src/utils/add-package-script.ts
  cli/src/utils/get-lx2-version.ts
  cli/tsup.config.ts
Labels: ğŸ“Œ area: cli

fix(CLI): undo flag change because wrong branch
  cli/src/index.ts
Labels: ğŸ“Œ area: cli

refactor(CLI): change CLI noGit and noInstall flags to git and install
  .changeset/three-places-relate.md
  cli/src/core/index.ts
  cli/src/helpers/create-project.ts
  cli/src/helpers/log-next-steps.ts
  cli/src/helpers/scaffold-project.ts
  cli/src/index.ts
  cli/src/installers/index.ts
  docs/v2/src/content/docs/(create-lx2-app)/getting-started.mdx
Labels: ğŸ“Œ area: cli, ğŸ“š site

refactor(CLI): change CLI noGit and noInstall flags to git and install
  .changeset/three-places-relate.md
  cli/src/core/index.ts
  cli/src/helpers/create-project.ts
  cli/src/helpers/log-next-steps.ts
  cli/src/helpers/scaffold-project.ts
  cli/src/index.ts
  cli/src/installers/index.ts
  docs/v2/src/content/docs/(create-lx2-app)/getting-started.mdx
Labels: ğŸ“Œ area: cli, ğŸ“š site

feat(docs/v2): add shadcn components
  docs/v2/src/components/ui/input-group.tsx
  docs/v2/src/components/ui/kbd.tsx
  docs/v2/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Labels: ğŸ“š site

feat(docs/v2): Rebuild search menu
  docs/v2/src/components/search.tsx
Labels: ğŸ“š site
